body {
  vertical-align: revert;
  font-family: "Lato", dm serif text;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.me {

  margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 900px;
    text-align: left;
    display: flex;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    flex-direction: column;
    text-decoration: none;

}
.sidenav {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  background-color: #f9f9f9;
  overflow-x: hidden;
  text-decoration-line: none;
  align-items: center;
}



/*copylink starts here*/
ul { 
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  li { 
    text-decoration: none;
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
  
   
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    
    height: 2px;
    left: 10%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 50%; 
    right:0; 
  }
/*copylink ends here*/


/*.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24.43px;
  color: #2d2d2d92;
  display: block;
  font-family: 'DM Serif Text', serif;
  
}


.sidenav a:hover {
  color: #000000;
}*/

